*/custom_build_rules/*
custom_build_rules/*
*/data/*
data/*
*/Project2/*
Project2/*
FlexLexer.h
linux.vbs
output.txt
UNISTD_ERROR.readme
win_bison.exe
win_flex_bison-latest.zip
win_flex.exe
win.lex.yy.c
windows.vbs
README.txt
Ron-Parser.c
project.code-workspace
test1_305391351_304858855_lex.txt
test1_305391351_304858855_syntactic.txt
test2_305391351_304858855_lex.txt
test2_305391351_304858855_syntactic.txt
information.txt
313173213_204159784_204367387.rar
Project3.code-workspace
הסבר לשימוש בכלי.txt
Project3/Project3.sln
Project3/Project3.vcxproj
.gitignore
Project3/Project3.sln
Project3/Project3.vcxproj
Project3/Project3.vcxproj.filters
Project3/Project3.vcxproj.user
Project3/.vs/Project3/v16/.suo
Project3/.vs/Project3/v16/Browse.VC.db
Project3/.vs/Project3/v16/ipch/AutoPCH/3c9febd43adc2ce1/WIN.LEX.YY.ipch
Project3/.vs/Project3/v16/ipch/AutoPCH/61bcc3c324754bf3/PARSER.ipch
Project3/.vs/Project3/v16/ipch/AutoPCH/766f8d6f4fcf7f1e/RON-PARSER.ipch
Project3/.vs/Project3/v16/ipch/AutoPCH/ea87d4e1a66408d4/SYMBOLTABLE.ipch
Project3/Debug/Project3.Build.CppClean.log
Project3/Debug/Project3.log
Project3/Debug/Project3.vcxproj.FileListAbsolute.txt
Project3/Debug/Tokens.obj
Project3/Debug/vc142.idb
Project3/Debug/vc142.pdb
Project3/Debug/Project3.tlog/CL.command.1.tlog
Project3/Debug/Project3.tlog/CL.read.1.tlog
Project3/Debug/Project3.tlog/CL.write.1.tlog
Project3/Debug/Project3.tlog/Project3.lastbuildstate
Project3/Debug/Project3.tlog/unsuccessfulbuild
